Below is where I combine data from multiple sky surveys that have covered the same galaxies

In [1]:
import pandas as pd
import numpy as np

In [2]:
UVcat = pd.read_csv('/Users/Nick/IS/Datasets/Online_Datasets/UVISTA_final_BC03_v4.1.fout', delim_whitespace = True, skiprows = 16)

In [3]:
data2 = pd.read_csv('/Users/Nick/IS/Datasets/Online_Datasets/OnlineData3.dat', delim_whitespace = True)

In [4]:
data3 = pd.read_csv('/Users/Nick/IS/Datasets/Online_Datasets/OnlineData5.cat', delim_whitespace = True)

In [5]:
#create an empty dataframe
catalog1 = pd.DataFrame()

In [6]:
#checking columns of dataset
data3.head()

,id,ra,dec,xpix,ypix,Ks_tot,eKs_tot,Ks,eKs,H,...,apcor,z_spec,z_spec_cc,z_spec_id,star,contamination,nan_contam,orig_cat_id,orig_cat_field,USE
0,1,150.37265,1.609394,11986.75879,4343.98486,6345.683,8.535,2458.348,3.069,2554.732,...,1.00000,-1.0,-1.0,-1,0,0,2,230,1,1
1,2,150.40848,1.607504,11126.90527,4298.73779,2326.038,3.374,1683.321,2.562,2624.063,...,1.00000,-1.0,-1.0,-1,1,0,11,295,1,0
2,3,150.40550,1.606911,11198.41992,4284.49414,223.931,3.299,111.582,0.887,94.436,...,1.00000,-1.0,-1.0,-1,0,0,0,314,1,1
3,4,150.39050,1.604330,11558.18359,4222.49707,33.437,1.502,23.667,0.681,16.188,...,1.00248,-1.0,-1.0,-1,0,0,0,322,1,1
4,5,150.40334,1.606078,11250.56543,4264.48291,214.863,2.457,119.658,0.903,106.466,...,1.00000,-1.0,-1.0,-1,0,0,0,340,1,1

In [8]:
#creating corrosponding columns for the data I want 
catalog1['ID'] = data2['ID']
catalog1['z_peak'] = data2['z_peak']
catalog1['UmV'] = data2['UmV']
catalog1['VmJ'] = data2['VmJ']
catalog1["SFR_UV"] = data2["SFR_UV"]
catalog1["SFR_IR"] = data2["SFR_IR"]
catalog1['SFR_tot'] = data2['SFR_tot']
catalog1['LMASS'] = data2['LMASS']
catalog1['ra'] = data3['ra']
catalog1['dec'] = data3['dec']
catalog1['USE'] = data3['USE']

In [9]:
print len(catalog1)

262615

In [10]:
catalog2 = catalog1[catalog1['USE'] == 1]

In [11]:
print len(catalog2)

166641

In [12]:
catalog2.to_csv('/Users/Nick/IS/Datasets/catalog2_USE.csv', sep = ' ')

In [14]:
cat = catalog1

In [15]:
#selecting galaxies in our desired mass range
lmass = cat["LMASS"]
z_peak = cat['z_peak']
ii = ((lmass>= 9.0) & (lmass<=10.0) & (z_peak>=0.3) & (z_peak<= 0.4))

In [18]:
cat2 = cat[ii]
print np.shape(cat2)

(4265, 11)

In [19]:
cat2 = cat2.reset_index()
del cat2['index']
cat2[0:5]

,ID,z_peak,UmV,VmJ,SFR_UV,SFR_IR,SFR_tot,LMASS,ra,dec,USE
0,34,0.3185,2.38,1.27,0.012,-0.794,0.012,9.71,150.38348,1.609724,0
1,60,0.3642,1.10,0.77,0.244,-1.134,0.244,9.17,150.40163,1.615784,1
2,85,0.3480,1.12,0.74,0.311,-1.004,0.311,9.24,150.37434,1.619130,1
3,136,0.3361,1.57,1.10,0.113,0.151,0.264,9.46,150.37727,1.627746,1
4,137,0.3600,1.22,0.79,0.682,0.310,0.992,9.68,150.39919,1.629076,1

In [20]:
cat2.to_csv('/Users/Nick/IS/Datasets/catalog_IMGs_USE.csv', sep = ' ')